<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link
    name="F_W_Front_Left">
    <inertial>
      <origin
        xyz="0.13868 0.123 0.005"
        rpy="0 0 0" />
      <mass
        value="0.059636" />
      <inertia
        ixx="1.6012E-05"
        ixy="-1.927E-20"
        ixz="-9.0002E-22"
        iyy="2.7287E-05"
        iyz="-2.1253E-20"
        izz="1.6012E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Front_Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Front_Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_W_Front_Left_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="F_W_Front_Left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="F_W_Front_Right">
    <inertial>
      <origin
        xyz="0.13868 -0.123 .005"
        rpy="0 0 0" />
      <mass
        value="0.059636" />
      <inertia
        ixx="1.6012E-05"
        ixy="5.4827E-21"
        ixz="-3.2336E-22"
        iyy="2.7287E-05"
        iyz="-3.8765E-20"
        izz="1.6012E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Front_Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Front_Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_W_Front_Right_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="F_W_Front_Right" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="F_W_Back_Left">
    <inertial>
      <origin
        xyz="-0.19 0.1215 .005"
        rpy="0 0 0" />
      <mass
        value="0.059636" />
      <inertia
        ixx="1.6012E-05"
        ixy="2.3169E-21"
        ixz="-1.6362E-21"
        iyy="2.7287E-05"
        iyz="-4.46E-21"
        izz="1.6012E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Back_Left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Back_Left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_W_Back_Left_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="F_W_Back_Left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="F_W_Back_Right">
    <inertial>
      <origin
        xyz="-0.19 -0.1215 0.005"
        rpy="0 0 0" />
      <mass
        value="0.059636" />
      <inertia
        ixx="1.6012E-05"
        ixy="2.9984E-21"
        ixz="-1.6638E-21"
        iyy="2.7287E-05"
        iyz="-1.7395E-22"
        izz="1.6012E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Back_Right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/F_W_Back_Right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="F_W_Back_Right_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="F_W_Back_Right" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>