<?xml version="1.0" ?>
<robot name="waiteronix" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
     
  <xacro:include filename="$(find waiteronix)/urdf/waiteronix.gazebo"/>
  <xacro:include filename="$(find waiteronix)/urdf/caster_wheels.xacro"/>
  <xacro:include filename="$(find waiteronix)/urdf/diff_wheels.xacro"/>
  <xacro:include filename="$(find waiteronix)/urdf/sensors.xacro"/>

  
  <link name="robot_footprint">
  </link>
   
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.047332 6.6722E-08 0.43205"
        rpy="0 0 0" />
      <mass
        value="7.2595" />
      <inertia
        ixx="0.2352"
        ixy="-3.3315E-09"
        ixz="-0.0013775"
        iyy="0.23491"
        iyz="1.1095E-10"
        izz="0.18376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <joint name="dummy_joint" type="fixed">
    <parent link="robot_footprint"/>
    <child link="base_link"/>
   </joint>
   
  <link
    name="Body">
    <inertial>
      <origin
        xyz="0.030377 8.5895E-16 0.11943"
        rpy="0 0 0" />
      <mass
        value="5.7583" />
      <inertia
        ixx="0.23029"
        ixy="-3.4648E-17"
        ixz="-0.0068726"
        iyy="0.17581"
        iyz="-2.2779E-17"
        izz="0.35786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/Body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84706 0.84706 0.84706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://waiteronix/meshes/Body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Body_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Body" />
    <axis
      xyz="0 0 0" />
  </joint>
 
 

</robot>
